* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before, *:after {
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
html {
    height: 100%;
  }
.container-fluid {
    min-height: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-gap: 2em;
    box-sizing: border-box;
    background-color: #2b3240;
    color: white;
    font-family: 'Raleway', sans-serif;
  }
h1 {
    display: none;
  }
a {
    color: white;
  }
body a:hover {
    color: #4bffe7;
}
.btn {
    background-color: #4bffe7;
    color: black;
}
.btn:hover {
    color: black;
    background-color: #3fb6a6;
}
.btn:active {
    color: black;
    background-color: #545b61;
  }
/* --------------------------Header----------------- */
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.header, .dropdown-menu {
    background-color: #222935;
}
.top-bar {
    background-color: #222935;
}
.top-bar a {
    color: white;
    padding: 5px ;
}
.top-bar ul {
    padding: 0;
    margin: 0 0 0 15px;
}
.top-bar li {
    text-decoration: none;
    display: inline-block;
}
input[type="search" i] {
    border: solid 2px #6e727c;
    border-radius: 5px;
    background-color: #2b3240;
}
input[type="search" i]:focus {
    background: #363e50;
    color: white;
    outline: none;
}
.nav-item a:hover {
    text-decoration: none;
    color: #4bffe7;
    background-color: #222a35;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #3ac6b3;
}
/*.basket-icon {
    
}
/* --------------------Slider--------------------- */
.slide {
    width: 100%;
    height: auto;
    margin:  5% 0 5% 0;
}
/* -------------------Product cards--------------- */

.card img {
    padding: 5%;
}
.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card-footer a {
    color: #4bffe7;
}
/* ----------------Bookmarks with goods----------- */
.marker {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: start;
    justify-content: space-between;
    grid-gap: 1em;
    background: #2b3240;
    padding:  1%;
    border: 1px solid  #3c434e;
}
.marker h5 {
    margin-top: 5%;
    font-size: 14px;
}
.stuff {
    border-radius: 3%;
    background-color: #222a35;
    margin: 2%;
}
.stuff img {
    display: flex;
    justify-content: center;
}

.stuff img a {
    display: flex;
    justify-content: center;
    object-fit: contain;
    margin-top: 15%;
    width: 100%;
    margin: 2%;
}
.stuff a{
    padding-left: 5%;
    font-size: 12px;
    color: #00D5C3;
}
.stuff:hover {
    transform: scale(1.05);
    box-shadow: 0 7px 14px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
}
.stars-rate {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.stars-rate {
    margin-left: 5%;
    margin-bottom: 5%;
}
.stars-rate li {
    display: inline-block;
}

.nav a {
    color: #4bffe7;
    background-color: #222a36;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #2b3340;
    color: #4bffe7;
    border-color: #3c434e;
}
.nav-tabs .nav-link:hover {
    border-color: #3c434e;
    background-color: #171c24;
}
.nav-link {
    background-color: #222a36;
}
.nav-link  {
    background-color: #222a36;
}
.nav-link:active {
    background-color: #222a35;
}
.nav-tabs {
    border: #3c434e;
}
.navbar-brand img {
    width: 100%;
}
/* ---------------------Advertising Block---------------- */
.advancing {
    display: flex;
    object-fit: cover;
    margin-top: 40px;
}
/* ----------------Advertising Slider-------------- */
.slide-advancing img {
    border: none;
    background-color: rgba(255, 255, 255, 0);
}
.price-new {
    margin-right: 5%;
}
.price-last {
    color: red;
    text-decoration: line-through;
}
/* -------------Company advertising-------------- */
.company {
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #3c434e;
    object-fit: cover;
}
/* -------------------Footer---------------- */
.footer {
    height: 100%;
    padding: 20px 40px 20px 40px;
    left: 0px;
    background-color: #222935;
}
.footer-info {
    margin-top: 10px;
}
.footer-info section {
    width: 250%;
}
.footer a {
    color: white;
    padding: 5px ;
}
.footer input {
    border: 0;
    background-color: #2b3240;
    border: solid 2px;
    border-color: #6e727c;
    border-radius: 5px;
}
.footer button {
    border-radius: 3px;
    text-decoration: none;
    outline: none;
    border: 0;
    transition: 0.2s;
    color: #222935;
    background-color: #4bffe7;
    cursor: pointer;
}
.footer-logo img {
    width: 80%;
    margin-top: 15px;
}
.social-icon i {
    margin: 5px;
    font-size: 20px;
}
.all-right-reserved {
    margin-top: 20px;
    color: #3c434e;
}
.footer button:active {
    outline: none;
    background-color: #4bffe7;
}
.footer button:hover {
    outline: none;
    background-color: #4bffe7;
}
.footer input:focus {
    background: #363e50;
    color: white;
    outline: none;
}
.footer-subscrible {
    font-size: 0.7rem;
}
/* ----------------Adaptive------------- */
@media only screen and (max-width: 991px){
    .marker {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .tab-content .category {
        grid-template-columns: 1fr 1fr;
    }
    .card-about1 {
        display: flex;
    }
}
@media only screen and (max-width: 768px) {
    .marker {
        grid-template-columns: 1fr 1fr; 
    }
    
    .card-deck {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-col2 {
        display: none;
    }
    .company {
        display: none;
    }
    .stuff a, .stars-rate {
        display: flex;
        justify-content: center;
    }
}
@media only screen and (max-width: 650px) {
    .marker {
        grid-template-columns: 1fr;
    }
    .stuff img a {
    display: flex;
    justify-content: center;
    object-fit: contain;
    margin-top: 15%;
    width: 100%;
    margin: 2%;
    }
    .card-group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-col3 {
        display: none;
    }
    .hidden-xs {
        display: none;
    }
    .google-map {
        display: none;
    }
    .card-about2 {
        display: flex;
    }
}
@media only screen and (max-width: 550px) {
    .tab-content .category {
        grid-template-columns: 1fr;
    }
    .advancing {
        display: none;
    }
    .slide {
        display: none;

    }
}
@media only screen and (max-width: 480px) {
    .slide-advancing {
        display: none;
    }
    .footer-col4 {
        display: none;
    }
    .product-table {
        display: none;
    }
    .logo-brand {
        display: none;
    }
    .card-about3 {
        display: flex;
    }
}
@media only screen and (max-width: 320px) {
    .img-adout {
        display: none;
    }
    .slide-advancing {
        display: none;
    }
}
 /* !!!!!!!!!!!!!!!!!Category page!!!!!!!!!!!!!!!! */

 /* -----------------breadcrumbs-------------- */
 .breadcrumb {
     margin: -10px 0; 
     background-color: #2b3240;
 }
 .breadcrumb a {
     color: #4bffe7;
 }
 /* --------------------Category block------------- */
.nav-tabs-category {
    margin-bottom: -15px;
}
.category {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    justify-items: stretch;
    justify-content: space-between;
    grid-gap: 2em;
}
.list {
    height: 270px;
}
.list a{
    text-decoration: none;
    background-color: #222935;
    color: white;
    height: 270px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.list img {
    object-fit: cover;
}
.list:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
/* !!!!!!!!!!!!!Product page!!!!!!!!!!!!! */

/* ---------------Product Slider------------- */
.wrap-gallery-article {
    margin-bottom: 1rem;
    max-width: 800px;
  }
  .wrap-gallery-article .list-thumb-gallery {
    padding: 0;
    list-style-type: none;
    padding-top: 1rem;
    list-style-type: none;
  }
  .wrap-gallery-article .list-thumb-gallery > li {
    margin-bottom: 1rem;
  }

/* -----------------Information product------------ */
.product-info a {
    color: white;
}
.botton-grupe-description {
    display: flex;
}
.product-page-price {
    display: flex;
    align-self: flex-start;
}
.social-buttons button {
    height: 22px;
    color: white;
    border: 0;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}
.facebook {
    font-size: 12px;
    background-color: #516EAA;
    padding: 0 5px 0 5px;
}
.twitter {
    font-size: 12px;
    background-color: #29C5F6;
    padding: 0 5px 0 5px;

}
.google {
    font-size: 12px;
    background-color: #DD1C1A;
    padding: 0 5px 0 5px;
}
.facebook:hover {
    background-color:  #739cee;
}
.twitter:hover {
    background-color:  #7edefc;
}
.google:hover {
    background-color:  #ff6360;
}
.facebook:active {
    background-color:  #2a3d64;
}
.twitter:active {
    background-color:  #2e5561;
}
.google:active {
    background-color:  #701817;
}
.product-info li {
    color: #4bffe7;
}
.product-info li span {
    color: white;
    font-size: 13px;
}
.stars-product {
    margin-bottom: 0;
}
.product-page-price {
    margin: 3% 0;
}
.product-page-price h6 {
    font-size: 25px; 
}
.product-page-price h5{
    text-decoration: line-through;
    color: red;
    font-size: 20px;
    padding-left: 5%;
    margin-bottom: 15px;
}
.series-product {
    display: flex;
    justify-content: flex-end;
}
.btn:not(:disabled):not(.disabled) {
    margin-left: 9%;
}
/* --------------------Product table-------------- */
.table {
    color: white;
}
.table thead th {
    width: 450px;
    border-top: 0;
    border-bottom: 2px solid #6e727c;
    background-color: #202530;
}
.table td, .table th {
    border-top: 1px solid #6e727c;
}
.table tr:hover {
    background-color: #282d3b;
    color: rgb(197, 197, 197);
}
.product-table {
    margin-top: 50px;
    padding: 50px;
    border: 1px solid #6e727c;
}
.table tr:last-child {
    border-bottom: 2px solid #6e727c;
}
/* !!!!!!!!!!!!!!!!!!!Contact page!!!!!!!!!!!!!!!!!!  */
.contacts {
    margin: 0 auto;
    width: 100%;
}
.adress {
    border: 1px solid #6e727c;
    margin: 70px 0;
    padding-bottom: 0px;
}
.contact-imputs {
    border: 1px solid #6e727c;
    margin: 70px 0;
    padding-bottom: 30px;
}
.form-control {
    width: 100%;
    border: 1px solid #6e727c;
    background-color: #2b3240;
}
.form-control:focus {
    background: #363e50;
    color: white;
    outline: none;
    border: 1px solid #6e727c;
  }
.form-select  {
    padding: 1% 4%;
    color: white;
    border: 1px solid #6e727c;
    background-color: #2b3240;
}
.contacts h1 {
    margin-top: 70px;
}
.contacts h2 {
    margin: 50px 0;
}
.contact-imputs button{
    margin-top: 10px;
}
.adress-text {
    margin-left: 5%;
}
.google-map {
    width: 550; 
    height: 292;
}
.btn:not(:disabled):not(.disabled) {
    margin-left: 0%;
}
/* !!!!!!!!!!!!!!!!!!About us page!!!!!!!!!!!!!!!! */
.about-info li {
    color: #4bffe7;
}
.about-info li span {
    color: white;
    font-size: 15px;
}
.about-list li {
    margin-bottom: 2%;
}
.about-list a{
    color: #4bffe7;
}
.card {
    width: 18rem;
    background-color: #222a35;
    border: 1px solid #6e727c;
}
.about img {
    width: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
.about .row {
    padding: 0;
}
/* ............Thank you for your attention!.......... */